
<form action="<%=route%>" method="post" enctype="multipart/form-data">


<div>
<label for="name">Name:</label>
<input type=text name=name value="<%=doc.name%>" />
</div>

<div>
<label for="about">About:</label>
<input type=about name=about value="<%=doc.about%>" />
</div>

<div>
<label for='images'> 
Images:
<% doc.images.forEach(function(img) { %>
<img height=200 width=150 alt="photo" src="<%=img.path%>"/>             
<button>
<a href="<%=locals.paths.imageRemove + img._id%>">remove</a>
</button>
<%})%>
 </label>
<input multiple=true type='file' name='images' />
</div>

<div>
<input type="submit" value="update"/>
</div>

</form>

