<%- include('navigationBar') %>
<%- include('search') %>

<div class=itemList>
<% doc.items.forEach(function (doc){ %>

<div class=header>
ITEM: <a href="<%=doc._id%>"> <%= doc.name %> </a> 
</div>

<div class=photo>
PHOTO: <img height=100 width=75 alt="photo" src="<%=doc.images[0].path%>"/>
</div>

<div class=about>
ABOUT: <%= doc.about%>
</div>

<div class=date>
DATE: <%=locals.dateFormat(doc.createdAt)%>
</div>

<div class=views>
VIEWS: <%= doc.views%>
</div>

<div class=user>
USER: <a href="<%=locals.paths.users + doc.ownerId%>"> <%=doc.ownerName%></a>
</div>


<% }) %>


</div>
















