<%- include('navigationBar') %>
<%- include('search') %>



<div class=itemList>
<% doc.forEach(function (doc){ %>

<div class=header>
Название: <a href="<%=doc._id%>"> <%= doc.name %> </a> 
</div>

<div class=photo>
Изображение: <img height=100 width=75 alt="photo" src="<%=doc.images[0].path%>"/>
</div>

<div class=about>
Описание: <%= doc.about%>
</div>





<div class=user>
Пользователь: <a href="<%=locals.paths.users + doc.ownerId%>"> <%=doc.ownerName%></a>
</div>


<% }) %>


</div>
















