<%- include('navigationBar') %>

<div class=ItemPage>

<div>Название: <%= doc.name %>                                                            </div>
<div>
Изображения:
<% doc.images.forEach(function(img) { %>
<img height=200 width=150 alt="photo" src="<%=img.path%>"/>             
<%})%>
</div>
<div>Описание: <%=doc.about%>                                                            </div>

<div>Цена: <%=doc.price%> </div>
<div>Телефон: <%=doc.tel%></div>
<div>Почта: <%=doc.email%></div>

<div>Пользователь: <a href="<%=locals.paths.users + doc.ownerId %>"</a><%=doc.ownerName%></div>

</div>

