<%- include('navigationBar') %>

<div class=ItemPage>

<div>ITEM: <%= doc.name %>                                                            </div>
<div>
PHOTO:
<% doc.images.forEach(function(img) { %>
<img height=200 width=150 alt="photo" src="<%=img%>"/>             
<%})%>
</div>
<div>ABOUT: <%=doc.about%>                                                            </div>
<div>DATE: <%= locals.dateFormat(doc.createdAt)%>                                     </div>
<div>VIEWS: <%= doc.views%>                                                           </div>
<div>USER: <a href="<%=locals.paths.users + doc.ownerId%>"> <%=doc.ownerName%></a></div>

<%doc.views+=1%>
<%doc.save()%>
</div>

