<link rel="stylesheet" href="/css/style.css">
<script src="http://localhost:3000/js/jquery-3.7.1.min.js"></script>

<div class=CardPage>

<div class=header>  
<h1 align=center> <%= doc.name %> </h1>
</div>

<div class=photo>
<img alt="photo" src="<%=doc.avatar%>"/>
</div>

<div class=text>
<h4 align=center>O sebe:</h4>
<%=doc.about%>
</div>

<div class=date>
<%= locals.dateFormat(doc.createdAt)%>
</div>

<div class=views>
<%= doc.views%>
</div>

<%locals.viewsCounter(doc._id)%>
</div>

<div class=search>

<form action="/users/list/" method="post">
<div>
<label for="search">Search:</label>
<input id="search" name="search" type="search"/>
<input type="submit" value="Submit"/>
</div>
</form>


</div>


<div class=cardList>
<% doc.forEach(function (doc){ %>




<div class=header>
<a href="<%=doc._id%>"> <%= doc.name %> </a> 
</div>

<div class=photo>
<img height=100 width=75 alt="photo" src="<%=doc.avatar%>"/>
</div>

<div class=text>
<p align=center>O sebe:</p>
<p align=left><%= doc.about%></p>
</div>

<div class=date>
<%=locals.dateFormat(doc.createdAt)%>
</div>

<div class=views>
<%= doc.views%>
</div>



<% }) %>

</div>




























