<div class=navigation id=navigation>
<a href="<%=locals.paths.home%>"> Главная </a>
<a href="<%=locals.paths.profile%>"> Профиль </a>
<a href="<%=locals.paths.itemAdd%>"> Добавить </a>
<a href="<%=locals.paths.login%>"> Вход </a>
<a href="<%=locals.paths.logout%>"> Выход </a>
<a href="<%=locals.paths.userAdd%>"> Регистрация </a>
<div>
