<%- include('navigationBar') %>
<form action="<%=locals.paths.profile%>" method="post" enctype="multipart/form-data">

<div>
<label for="username">Логин:</label>
<input type=text name=username value="<%=doc.username%>" />
</div>

<div>
<label for="password">Пароль:</label>
<input type=text name=password value="<%=doc.password%>" />
</div>

<div>
<label for="tel">Телефон:</label>
<input type=text name=tel value="<%=doc.tel%>" />
</div>

<div>
<label for="email">Почта:</label>
<input type=text name=email value="<%=doc.email%>" />
</div>

<div>
<label for=avatar>Аватар:<img height=100 width=75 alt="photo" src="<%=doc.avatar%>" /> </label>
<input type='file' name='avatar' />
</div>

<div>
<input type="submit" value="Редактировать"/>
</div>

<a href="<%=locals.paths.userItems%>"> Объявления </a>


</form>

