<%- include('navigationBar') %>
<%- include('search') %>

<div>
<% doc.items.forEach(function (doc){ %>

<div>Название: <%= doc.name %></div>
<div>Изображение:<img height=100 width=75 alt="photo" src="<%= doc.images[0].path%>"/></div>

<div>Цена: <%= doc.price %></div>                                             



<button>
<a href="<%=locals.paths.itemRemove + doc._id%>">удалить</a>
</button>

<button>
<a href="<%=route + doc._id%>">редактировать</a> 
</button>
<% }) %>
</div>
